<!DOCTYPE html>
<html>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <form asp-controller="Profile" asp-action="Auth" method="post" style="text-align: center; width: 500px; padding: 20px; border: 1px solid #ddd; border-radius: 15px;">
        <h2>Change Password</h2>
        <div style="margin-bottom: 10px;">
            <input type="password" id="OldPassword" name="OldPassword" placeholder="Old Password" style="width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ddd;" required>
        </div>
        <div style="margin-bottom: 10px;">
            <input type="password" id="NewPassword" name="NewPassword" placeholder="New Password" minlength="6" oninvalid="this.setCustomValidity('The minimum password length is 6.')" oninput="this.setCustomValidity('')" style="width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ddd;" required>
        </div>
        <button  type="submit" style="width: 100%; padding: 10px; border-radius: 5px; border: none; background-color: #338573; color: white;">Update</button>
        
        @if (TempData["ErrorMessage"] != null)
        {
            <p style="color: red;">@TempData["ErrorMessage"]</p>
        }

        <div asp-validation-summary="All" class="text-danger"></div> <!-- Display error message -->
    </form>

    <div style="width: 100vw; margin-top:100px; height: 83px; bottom: 0; position: absolute;">
            <div style="width: 100vw; height: 60px; left: 0px; bottom: 0; position: absolute; background: #338573"></div>
           <div style="width: 459.51px; height: 83px; left: 492.01px; top: 15px; position: absolute; color: white; font-size: 20px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">© 2023 Freelance Fusion. Designed By Group 1</div>
         </div>
</div>

</html>
