<!DOCTYPE html>
<html>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="text-align: center;">
        <h1> Bid Success!</h1>
        <p>Congratulations! Your Bid was successfully Submitted.</p>
         <a asp-controller="Dashboard" asp-action="FreelancerView">Go to Your Bids Page</a> <!-- Provide the appropriate link to your list of jobs page --> 
    </div>
</div>
</html>
