@{
    var bid = Model;
    var showButtons = ViewBag.ShowButtons;
}


<div style="width: 100vw; height:100vh; position: relative; background: white">

  <div style="width: 100vw; height: 80px;top: 0px;position: relative; background: #F4F5F7">
  <div style="width: 964px; left: 600px; top: 0px; position: absolute">
  <span style="color: black; font-size: 30px; font-family: Poppins; font-weight: 500; line-height: 80px; word-wrap: break-word">@bid.JobTitle</span>
  @* <span style="color: black; font-size: 30px; font-family: Poppins; font-weight: 500; line-height: 80px; word-wrap: break-word"> - Match Company Limited </span> *@
  </div>
  </div>

  @if(int.Parse(bid.BidStatus) == 1)
    {
        <!-- Your code for the 'BidStatus' being 1 -->
        <div style="width:100vw;left: 0px; text-align:center; align-items:center;top: 100px; border-radius:10px;position: absolute;background: #338573; color: rgb(252, 251, 251); font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 50px; word-wrap: break-word" >Congratulations you have been awarded the Job!</div>
    }
    else if((int.Parse(bid.BidStatus) == 2))
    {
        <!-- Your code for other conditions -->
        <div style="width:100vw;left: 0px; text-align:center; align-items:center;top: 100px; border-radius:10px;position: absolute;background: #ee0808; color: #000; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 50px; word-wrap: break-word" >Sorry Bid Has been Awarded to Another User!</div>
    }
    else{
      <div style="width:100vw;left: 0px; text-align:center; align-items:center;top: 100px; border-radius:10px;position: absolute;background: #fbff01; color: #000; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 50px; word-wrap: break-word" >Bid Submitted, pending Client Review</div>
    }

<div style="width: 658px; margin-left:40px;margin-top:80px; height: 100px">
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 500; line-height: 40px; word-wrap: break-word">BidAmount:</span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 400; line-height: 40px; word-wrap: break-word"> </span>
<span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 300; line-height: 40px; word-wrap: break-word">@bid.BidAmount<br/></span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 500; line-height: 40px; word-wrap: break-word">Bid Date</span>
<span style="color: black; font-size: 24px; font-family: Poppins; font-weight: 400; line-height: 40px; word-wrap: break-word"> </span>
<span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 300; line-height: 40px; word-wrap: break-word">@bid.BidDate<br/></span>

</div>
<div style="margin-top:20px">
<div style="color: black; margin-left:40px; font-size: 24px; font-family: Poppins; font-weight: 700; line-height: 30px; word-wrap: break-word">Bid Message<br/></div>
<div style="width: 1243px; height: 522px; left: 40px; top: 320px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 300; line-height: 40px; word-wrap: break-word">@bid.BidMessage</div>
</div>
</div>
