<!DOCTYPE html>
<html>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="text-align: center;">
        <h1> SignUP Success!</h1>
        <p>Congratulations! Your signup was successful.</p>
         <a asp-controller="Login" asp-action="Index">Go to Login</a> <!-- Provide the appropriate link to your list of jobs page --> 
    </div>
</div>
</html>
