
<div style="width: 100vw; height: 2800px;display:flex;  justify-content: flex-start; position: relative">
   <div style="width: 100vw; height: 100vh; left: 0px; top: 0px; position: absolute; background: white">
     <img style="width: 100vw; height:996; left: 0px; top: 0px; position: absolute" src="https://i.postimg.cc/J47sJVFW/wepik-export-20231020001105vftf.jpg" />  
   </div>
    <div style="width: 678px; height: 268px;  top: 183px; position: absolute; right:0;">
    <span style="color: black; font-size: 70px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word">Find A </span>
    <span style="color: #338573; font-size: 70px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word">Job</span>
    <span style="color: black; font-size: 70px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word"> That<br/></span>
    <span style="color: #338573; font-size: 70px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word">Matches</span>
    <span style="color: black; font-size: 70px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word"> Your Passion </span>
    </div>
    <div style="width: 676px; height: 55px;  top: 451px; position: absolute; color: #616161; font-size: 20px; font-family: Poppins; font-weight: 400; line-height: 30px; word-wrap: break-word; right:0;">Hand-picked opportunities to work from home, co-working space or remotely.
    </div>
    <div style="left: 585px; top: 1007px; position: absolute; color: black; font-size: 30px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Popular Categories
    </div>
    <div style="left: 585px; top: 1007px; position: absolute; color: black; font-size: 30px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Popular Categories</div>
    <div style="left: 585px; top: 1678px; position: absolute; color: black; font-size: 30px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">All Popular Listed jobs</div>
    <div style="width: 187px; height: 205.37px; left: 608px; top: 2561.63px; position: absolute">
      <div style="width: 187px; height: 62px; left: 0px; top: 134.49px; position: absolute; background: #338573; border-radius: 10px"></div>
      <div style="left: 17px; top: 125.37px; position: absolute; color: white; font-size: 20px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">View More</div>
      <div style="width: 20.07px; height: 18.86px; left: 139.46px; top: 0px; position: absolute">
        <div style="width: 20.07px; height: 18.86px; left: 0px; top: 0px; position: absolute; border: 2px white solid"></div>
        <div style="width: 4.01px; height: 7.54px; left: 10.03px; top: 5.66px; position: absolute; border: 2px white solid"></div>
        <div style="width: 8.03px; height: 0px; left: 6.02px; top: 9.43px; position: absolute; border: 2px white solid"></div>
      </div>
      <div style="width: 20.07px; height: 18.86px; left: 137.46px; top: 157.20px; position: absolute">
        <div style="width: 20.07px; height: 18.86px; left: 0px; top: 0px; position: absolute; border: 2px white solid"></div>
        <div style="width: 4.01px; height: 7.54px; left: 10.03px; top: 5.66px; position: absolute; border: 2px white solid"></div>
        <div style="width: 8.03px; height: 0px; left: 6.02px; top: 9.43px; position: absolute; border: 2px white solid"></div>
      </div>
    </div>
    
    <div style="width: 1306px; height: 152px; left: 29px; top: 1758px; position: absolute">
      <div style="width: 1306px; height: 135px; left: 0px; top: 12px; position: absolute; background: white; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); border-radius: 10px; border: 1px #EFEFF0 solid"></div>
      <div style="width: 185px; left: 188px; top: 67px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Nairobi, Kenya</div>
      <div style="width: 212px; left: 161px; top: 0px; position: absolute; color: #5F5858; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Match Company Limited</div>
      <div style="width: 123px; left: 420px; top: 72px; position: absolute; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Ksh 150,000</div>
      <div style="width: 174.94px; height: 62px; left: 1098.31px; top: 50px; position: absolute; background: #338573; border-radius: 10px"></div>
      <div style="width: 162px; left: 1121px; top: 42px; position: absolute; color: white; font-size: 23px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">View Details</div>
      <div style="width: 480px; height: 50px; left: 161px; top: 33px; position: absolute; color: black; font-size: 25px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Fresher UI/UX Designer (3 Year Exp.)<br/></div>
      <div style="width: 18.71px; height: 20px; left: 160.91px; top: 95px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 14.03px; height: 18.33px; border: 2px #338573 solid"></div>
        <div style="width: 4.68px; height: 5px; border: 2px #338573 solid"></div>
      </div>
      <div style="width: 135px; left: 328px; top: 70px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Full Time</div>
      <div style="width: 19.65px; height: 21px; padding-left: 2.46px; padding-right: 2.46px; padding-top: 2.62px; padding-bottom: 2.62px; left: 299.37px; top: 98px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 14.73px; height: 15.75px; border: 2px #338573 solid"></div>
      </div>
      <div style="width: 84.47px; height: 91px; left: 46.31px; top: 31px; position: absolute; background: #338573; border-radius: 9999px; border: 1px #338573 solid"></div>
      <div style="width: 26.92px; left: 76.95px; top: 36px; position: absolute; color: white; font-size: 50px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word">J</div>
    </div>
    <div style="width: 1306px; height: 152px; left: 29px; top: 1935px; position: absolute">
      <div style="width: 1306px; height: 135px; left: 0px; top: 12px; position: absolute; background: white; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); border-radius: 10px; border: 1px #EFEFF0 solid"></div>
      <div style="width: 185px; left: 188px; top: 67px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Nairobi, Kenya</div>
      <div style="width: 212px; left: 161px; top: 0px; position: absolute; color: #5F5858; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Match Company Limited</div>
      <div style="width: 123px; left: 420px; top: 72px; position: absolute; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Ksh 150,000</div>
      <div style="width: 174.94px; height: 62px; left: 1098.31px; top: 50px; position: absolute; background: #338573; border-radius: 10px"></div>
      <div style="width: 162px; left: 1121px; top: 42px; position: absolute; color: white; font-size: 23px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">View Details</div>
      <div style="width: 480px; height: 50px; left: 161px; top: 33px; position: absolute; color: black; font-size: 25px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Fresher UI/UX Designer (3 Year Exp.)<br/></div>
      <div style="width: 18.71px; height: 20px; left: 160.91px; top: 95px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 14.03px; height: 18.33px; border: 2px #338573 solid"></div>
        <div style="width: 4.68px; height: 5px; border: 2px #338573 solid"></div>
      </div>
      <div style="width: 135px; left: 328px; top: 70px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Full Time</div>
      <div style="width: 19.65px; height: 21px; padding-left: 2.46px; padding-right: 2.46px; padding-top: 2.62px; padding-bottom: 2.62px; left: 299.37px; top: 98px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 14.73px; height: 15.75px; border: 2px #338573 solid"></div>
      </div>
      <div style="width: 84.47px; height: 91px; left: 46.31px; top: 31px; position: absolute; background: #338573; border-radius: 9999px; border: 1px #338573 solid"></div>
      <div style="width: 26.92px; left: 76.95px; top: 36px; position: absolute; color: white; font-size: 50px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word">J</div>
    </div>
    <div style="width: 1306px; height: 152px; left: 29px; top: 2112px; position: absolute">
      <div style="width: 1306px; height: 135px; left: 0px; top: 12px; position: absolute; background: white; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); border-radius: 10px; border: 1px #EFEFF0 solid"></div>
      <div style="width: 185px; left: 188px; top: 67px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Nairobi, Kenya</div>
      <div style="width: 212px; left: 161px; top: 0px; position: absolute; color: #5F5858; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Match Company Limited</div>
      <div style="width: 123px; left: 420px; top: 72px; position: absolute; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Ksh 150,000</div>
      <div style="width: 174.94px; height: 62px; left: 1098.31px; top: 50px; position: absolute; background: #338573; border-radius: 10px"></div>
      <div style="width: 162px; left: 1121px; top: 42px; position: absolute; color: white; font-size: 23px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">View Details</div>
      <div style="width: 480px; height: 50px; left: 161px; top: 33px; position: absolute; color: black; font-size: 25px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Fresher UI/UX Designer (3 Year Exp.)<br/></div>
      <div style="width: 18.71px; height: 20px; left: 160.91px; top: 95px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 14.03px; height: 18.33px; border: 2px #338573 solid"></div>
        <div style="width: 4.68px; height: 5px; border: 2px #338573 solid"></div>
      </div>
      <div style="width: 135px; left: 328px; top: 70px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Full Time</div>
      <div style="width: 19.65px; height: 21px; padding-left: 2.46px; padding-right: 2.46px; padding-top: 2.62px; padding-bottom: 2.62px; left: 299.37px; top: 98px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 14.73px; height: 15.75px; border: 2px #338573 solid"></div>
      </div>
      <div style="width: 84.47px; height: 91px; left: 46.31px; top: 31px; position: absolute; background: #338573; border-radius: 9999px; border: 1px #338573 solid"></div>
      <div style="width: 26.92px; left: 76.95px; top: 36px; position: absolute; color: white; font-size: 50px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word">J</div>
    </div>
    <div style="width: 1306px; height: 152px; left: 29px; top: 2289px; position: absolute">
      <div style="width: 1306px; height: 135px; left: 0px; top: 12px; position: absolute; background: white; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); border-radius: 10px; border: 1px #EFEFF0 solid"></div>
      <div style="width: 185px; left: 188px; top: 67px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Nairobi, Kenya</div>
      <div style="width: 212px; left: 161px; top: 0px; position: absolute; color: #5F5858; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Match Company Limited</div>
      <div style="width: 123px; left: 420px; top: 72px; position: absolute; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Ksh 150,000</div>
      <div style="width: 174.94px; height: 62px; left: 1098.31px; top: 50px; position: absolute; background: #338573; border-radius: 10px"></div>
      <div style="width: 162px; left: 1121px; top: 42px; position: absolute; color: white; font-size: 23px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">View Details</div>
      <div style="width: 480px; height: 50px; left: 161px; top: 33px; position: absolute; color: black; font-size: 25px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Fresher UI/UX Designer (3 Year Exp.)<br/></div>
      <div style="width: 18.71px; height: 20px; left: 160.91px; top: 95px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 14.03px; height: 18.33px; border: 2px #338573 solid"></div>
        <div style="width: 4.68px; height: 5px; border: 2px #338573 solid"></div>
      </div>
      <div style="width: 135px; left: 328px; top: 70px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Full Time</div>
      <div style="width: 19.65px; height: 21px; padding-left: 2.46px; padding-right: 2.46px; padding-top: 2.62px; padding-bottom: 2.62px; left: 299.37px; top: 98px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 14.73px; height: 15.75px; border: 2px #338573 solid"></div>
      </div>
      <div style="width: 84.47px; height: 91px; left: 46.31px; top: 31px; position: absolute; background: #338573; border-radius: 9999px; border: 1px #338573 solid"></div>
      <div style="width: 26.92px; left: 76.95px; top: 36px; position: absolute; color: white; font-size: 50px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word">J</div>
    </div>
    <div style="width: 1306px; height: 152px; left: 29px; top: 2466px; position: absolute">
      <div style="width: 1306px; height: 135px; left: 0px; top: 12px; position: absolute; background: white; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); border-radius: 10px; border: 1px #EFEFF0 solid"></div>
      <div style="width: 185px; left: 188px; top: 67px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Nairobi, Kenya</div>
      <div style="width: 212px; left: 161px; top: 0px; position: absolute; color: #5F5858; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Match Company Limited</div>
      <div style="width: 123px; left: 420px; top: 72px; position: absolute; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Ksh 150,000</div>
      <div style="width: 174.94px; height: 62px; left: 1098.31px; top: 50px; position: absolute; background: #338573; border-radius: 10px"></div>
      <div style="width: 162px; left: 1121px; top: 42px; position: absolute; color: white; font-size: 23px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">View Details</div>
      <div style="width: 480px; height: 50px; left: 161px; top: 33px; position: absolute; color: black; font-size: 25px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Fresher UI/UX Designer (3 Year Exp.)<br/></div>
      <div style="width: 18.71px; height: 20px; left: 160.91px; top: 95px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 14.03px; height: 18.33px; border: 2px #338573 solid"></div>
        <div style="width: 4.68px; height: 5px; border: 2px #338573 solid"></div>
      </div>
      <div style="width: 135px; left: 328px; top: 70px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 80px; word-wrap: break-word">Full Time</div>
      <div style="width: 19.65px; height: 21px; padding-left: 2.46px; padding-right: 2.46px; padding-top: 2.62px; padding-bottom: 2.62px; left: 299.37px; top: 98px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 14.73px; height: 15.75px; border: 2px #338573 solid"></div>
      </div>
      <div style="width: 84.47px; height: 91px; left: 46.31px; top: 31px; position: absolute; background: #338573; border-radius: 9999px; border: 1px #338573 solid"></div>
      <div style="width: 26.92px; left: 76.95px; top: 36px; position: absolute; color: white; font-size: 50px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word">J</div>
    </div>
    
  </div>
  <div style="width: 233.43px; height: 191px; left: 56.19px; top: 1140px; position: absolute">
    <div style="width: 233.43px; height: 191px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <div style="width: 122.32px; left: 61.16px; top: 96px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Technology</div>
    <div style="width: 75.43px; height: 73px; left: 82.57px; top: 30px; position: absolute; background: rgba(51, 133, 115, 0.32); border-radius: 9999px"></div>
    <div style="width: 24.46px; height: 24px; left: 108.05px; top: 57px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="width: 18.35px; height: 20px; border: 2px #338573 solid"></div>
      <div style="width: 9.17px; height: 2.60px; border: 2px #338573 solid"></div>
      <div style="width: 17.80px; height: 5.05px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 0px; height: 10.08px; border: 2px #338573 solid"></div>
    </div>
  </div>
  <div style="width: 233.43px; height: 191px; left: 56.19px; top: 1401px; position: absolute">
    <div style="width: 233.43px; height: 191px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <div style="width: 122.32px; left: 61.16px; top: 96px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Technology</div>
    <div style="width: 75.43px; height: 73px; left: 82.57px; top: 30px; position: absolute; background: rgba(51, 133, 115, 0.32); border-radius: 9999px"></div>
    <div style="width: 24.46px; height: 24px; left: 108.05px; top: 57px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="width: 18.35px; height: 20px; border: 2px #338573 solid"></div>
      <div style="width: 9.17px; height: 2.60px; border: 2px #338573 solid"></div>
      <div style="width: 17.80px; height: 5.05px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 0px; height: 10.08px; border: 2px #338573 solid"></div>
    </div>
  </div>
  <div style="width: 233.43px; height: 191px; left: 379px; top: 1147px; position: absolute">
    <div style="width: 233.43px; height: 191px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <div style="width: 122.32px; left: 61.16px; top: 96px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Technology</div>
    <div style="width: 75.43px; height: 73px; left: 82.57px; top: 30px; position: absolute; background: rgba(51, 133, 115, 0.32); border-radius: 9999px"></div>
    <div style="width: 24.46px; height: 24px; left: 108.05px; top: 57px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="width: 18.35px; height: 20px; border: 2px #338573 solid"></div>
      <div style="width: 9.17px; height: 2.60px; border: 2px #338573 solid"></div>
      <div style="width: 17.80px; height: 5.05px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 0px; height: 10.08px; border: 2px #338573 solid"></div>
    </div>
  </div>
  <div style="width: 233.43px; height: 191px; left: 377px; top: 1401px; position: absolute">
    <div style="width: 233.43px; height: 191px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <div style="width: 122.32px; left: 61.16px; top: 96px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Technology</div>
    <div style="width: 75.43px; height: 73px; left: 82.57px; top: 30px; position: absolute; background: rgba(51, 133, 115, 0.32); border-radius: 9999px"></div>
    <div style="width: 24.46px; height: 24px; left: 108.05px; top: 57px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="width: 18.35px; height: 20px; border: 2px #338573 solid"></div>
      <div style="width: 9.17px; height: 2.60px; border: 2px #338573 solid"></div>
      <div style="width: 17.80px; height: 5.05px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 0px; height: 10.08px; border: 2px #338573 solid"></div>
    </div>
  </div>
  <div style="width: 233.43px; height: 191px; left: 720px; top: 1140px; position: absolute">
    <div style="width: 233.43px; height: 191px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <div style="width: 122.32px; left: 61.16px; top: 96px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Technology</div>
    <div style="width: 75.43px; height: 73px; left: 82.57px; top: 30px; position: absolute; background: rgba(51, 133, 115, 0.32); border-radius: 9999px"></div>
    <div style="width: 24.46px; height: 24px; left: 108.05px; top: 57px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="width: 18.35px; height: 20px; border: 2px #338573 solid"></div>
      <div style="width: 9.17px; height: 2.60px; border: 2px #338573 solid"></div>
      <div style="width: 17.80px; height: 5.05px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 0px; height: 10.08px; border: 2px #338573 solid"></div>
    </div>
  </div>
  <div style="width: 233.43px; height: 191px; left: 719px; top: 1401px; position: absolute">
    <div style="width: 233.43px; height: 191px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <div style="width: 122.32px; left: 61.16px; top: 96px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Technology</div>
    <div style="width: 75.43px; height: 73px; left: 82.57px; top: 30px; position: absolute; background: rgba(51, 133, 115, 0.32); border-radius: 9999px"></div>
    <div style="width: 24.46px; height: 24px; left: 108.05px; top: 57px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="width: 18.35px; height: 20px; border: 2px #338573 solid"></div>
      <div style="width: 9.17px; height: 2.60px; border: 2px #338573 solid"></div>
      <div style="width: 17.80px; height: 5.05px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 0px; height: 10.08px; border: 2px #338573 solid"></div>
    </div>
  </div>
  <div style="width: 233.43px; height: 191px; left: 1092px; top: 1140px; position: absolute">
    <div style="width: 233.43px; height: 191px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <div style="width: 122.32px; left: 61.16px; top: 96px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Technology</div>
    <div style="width: 75.43px; height: 73px; left: 82.57px; top: 30px; position: absolute; background: rgba(51, 133, 115, 0.32); border-radius: 9999px"></div>
    <div style="width: 24.46px; height: 24px; left: 108.05px; top: 57px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="width: 18.35px; height: 20px; border: 2px #338573 solid"></div>
      <div style="width: 9.17px; height: 2.60px; border: 2px #338573 solid"></div>
      <div style="width: 17.80px; height: 5.05px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 0px; height: 10.08px; border: 2px #338573 solid"></div>
    </div>
  </div>
  <div style="width: 233.43px; height: 191px; left: 1086px; top: 1401px; position: absolute">
    <div style="width: 233.43px; height: 191px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <div style="width: 122.32px; left: 61.16px; top: 96px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 600; line-height: 80px; word-wrap: break-word">Technology</div>
    <div style="width: 75.43px; height: 73px; left: 82.57px; top: 30px; position: absolute; background: rgba(51, 133, 115, 0.32); border-radius: 9999px"></div>
    <div style="width: 24.46px; height: 24px; left: 108.05px; top: 57px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="width: 18.35px; height: 20px; border: 2px #338573 solid"></div>
      <div style="width: 9.17px; height: 2.60px; border: 2px #338573 solid"></div>
      <div style="width: 17.80px; height: 5.05px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 4.59px; height: 7.79px; border: 2px #338573 solid"></div>
      <div style="width: 0px; height: 10.08px; border: 2px #338573 solid"></div>
    </div>
  </div>
</div>


