<!DOCTYPE html>
<html>


<head>
    
    <style>
        .video-container {
            width: 635px;
            
            border-radius: 10px;
            background: white;
            margin-top: 100px;
            height: 435px;
            position: relative;
            overflow: hidden;
        }

        .play-button {
            position: absolute;
            top: 52%;
            left: 72%;
            transform: translate(-50%, -50%);
            z-index: 1;
            cursor: pointer;
        }
    </style>
</head>


<body>
    <div style="width: 100vw; top:0; height: 100vh; display: flex; flex-direction:column;justify-content:flex-start; position: relative">

        <div style="width: 100vw; height: 100vh; left: 0px; top: 0px; position: absolute; background: white">
            <img id="changingImage" style="width: 100vw; height: 996; left: 0px; top: 0px; position: absolute"
                src="https://i.postimg.cc/J47sJVFW/wepik-export-20231020001105vftf.jpg" />
        </div>

        <div id="changingText" style="width: 678px; height: 268px; top: 183px; position: absolute; right: 0;">
            <span id="text1" style="color: black; font-size: 70px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word">Find A </span>
            <span id="text2" style="color: #338573; font-size: 70px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word">Job</span>
            <span id="text3" style="color: black; font-size: 70px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word"> That<br /></span>
            <span id="text4" style="color: #338573; font-size: 70px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word">Matches</span>
            <span id="text5" style="color: black; font-size: 70px; font-family: Poppins; font-weight: 700; line-height: 80px; word-wrap: break-word"> Your Passion </span>
        </div>
        <div style="width: 676px; height: 55px; top: 451px; position: absolute; color: #252424; font-size: 20px; font-family: Poppins; font-weight: 400; line-height: 30px; word-wrap: break-word; right:0;">Hand-picked
            opportunities to work from home, co-working space or remotely.
        </div>

        <div style="width: 100vw; height: 600px; display:flex; flex-direction:row;left: 0px; top: 910px; position: relative; background: #f1fdf7">
           <div style = "width:622px;   margin-top:60px;height:600px;display:flex;flex-direction:column">
             <h2 style="font-size:30px; text-align:center; font-weight:700; font-family:Work Sans;">The best part? Everything!</h2>
             <div style="display:flex; margin-left:10px;  flex-direction:row">
               <img style="width:24px; margin-top:2px; margin-left:10px; height:24px" src="https://cdn-icons-png.flaticon.com/128/1292/1292834.png" />
               <h4 style=" margin-left:10px;font-family:Poppins; font-weight:600">Stick to your budget</h4>
             </div>
             
             <span style ="font-size:20px; margin-left:40px;">Find the right service for every price point</span>
             <span style ="font-size:20px;  margin-left:40px;"> No hourly rates, just project-based pricing</span>

             <div style="display:flex; margin-left:10px; margin-top:20px;  flex-direction:row">
               <img style="width:24px; margin-top:2px; margin-left:10px; height:24px" src="https://cdn-icons-png.flaticon.com/128/1292/1292834.png" />
               <h4 style=" margin-left:10px;font-family:Poppins; font-weight:600">Get quality work done quickly</h4>
             </div>
             
             <span style ="font-size:20px; margin-left:40px;">Hand your project over to a talented freelancer in </span>
             <span style ="font-size:20px;  margin-left:40px;"> minutes, get long-lasting results.</span>

             <div style="display:flex; margin-left:10px; margin-top:20px;  flex-direction:row">
               <img style="width:24px; margin-top:2px; margin-left:10px; height:24px" src="https://cdn-icons-png.flaticon.com/128/1292/1292834.png" />
               <h4 style=" margin-left:10px;font-family:Poppins; font-weight:600">Pay when you are happy </h4>
             </div>
             
             <span style ="font-size:20px; margin-left:40px;">Upfront quotes mean no surprises. Payments only  </span>
             <span style ="font-size:20px;  margin-left:40px;">get released when you approve.</span>

             <div style="display:flex; margin-left:10px; margin-top:20px;  flex-direction:row">
               <img style="width:24px; margin-top:2px; margin-left:10px; height:24px" src="https://cdn-icons-png.flaticon.com/128/1292/1292834.png" />
               <h4 style=" margin-left:10px;font-family:Poppins; font-weight:600">Count on 24/7 support </h4>
             </div>
             
             <span style ="font-size:20px; margin-left:40px;">Our round-the-clock support team is available to   </span>
             <span style ="font-size:20px;  margin-left:40px;">help anytime, anywhere</span>
             
           </div>

           <div style="width: 635px; margin-left: 50px; border-radius: 10px;  margin-top: 100px; height: 435px;">
             <video id="myVideo"  width="100%" height="100%" style="border-radius: 50px;">
                <source src="~/images/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
             </video>
              <img id="playButton" class="play-button" src="https://cdn-icons-png.flaticon.com/128/260/260446.png" width="50" height="50" onclick="togglePlay()"> 
           </div>

       </div>

       <div style="width: 100vw; height: 600px; display:flex; flex-direction:column;left: 0px; top: 910px; position: relative;">
           <h2 style=" margin-left:10px;font-family:Poppins; font-weight:600; margin-left:80px;margin-top:100px">We have all you want!</h2>
           <div style="width:100vw; height:200px; left:110px;top:50px; display:flex; flex-direction:row; position:relative; " >
               <div style="display:flex; flex-direction:column" >
                  <img style="width:70px;margin-right:200px; height:70px" src = "~/images/graphic-design.png" />
                  <span style ="font-size:20px; margin-left:-40px">Graphic & Design</span>
               </div>
               <div style="display:flex; flex-direction:column">
                  <img style="width:70px;margin-right:200px; height:70px" src = "~/images/advertisements.png" />
                  <span style ="font-size:20px; margin-left:-45px">Digital Marketing</span>
               </div>
               <div style="display:flex; flex-direction:column" >
                  <img style="width:70px;margin-right:200px; height:70px" src = "~/images/creative-writing.png" />
                  <span style ="font-size:20px; margin-left:-60px">Writing & Translation</span>
               </div>
               <div style="display:flex; flex-direction:column" >
                  <img style="width:70px;margin-right:200px; height:70px" src = "~/images/3d.png" />
                  <span style ="font-size:20px; margin-left:-60px">Video & Animation</span>
                </div>  
               <div style="display:flex; flex-direction:column" >
                  <img style="width:70px;margin-right:200px; height:70px" src = "~/images/headphones.png" />
                  <span style ="font-size:20px; margin-left:-30px">Music & Audio</span>
                </div>  
           </div>

           <div style="width:100vw; height:200px; left:110px;top:50px; display:flex; flex-direction:row; position:relative; background:#fff" >
               <div style="display:flex; flex-direction:column" >
                  <img style="width:70px;margin-right:200px; height:70px" src = "~/images/code.png" />
                  <span style ="font-size:20px; margin-left:-60px">Programming & Tech</span>
               </div>
               <div style="display:flex; flex-direction:column">
                  <img style="width:70px;margin-right:200px; height:70px" src = "~/images/cooperation.png" />
                  <span style ="font-size:20px; margin-left:-5px">Business</span>
               </div>
               <div style="display:flex; flex-direction:column" >
                  <img style="width:70px;margin-right:200px; height:70px" src = "~/images/needs.png" />
                  <span style ="font-size:20px; margin-left:-5px">Lifestyle</span>
               </div>
               <div style="display:flex; flex-direction:column" >
                  <img style="width:70px;margin-right:200px; height:70px" src = "~/images/database.png" />
                  <span style ="font-size:20px; margin-left:10px">Data</span>
                </div>  
               <div style="display:flex; flex-direction:column" >
                  <img style="width:70px;margin-right:200px; height:70px" src = "~/images/photography.png" />
                  <span style ="font-size:20px; margin-left:-20px">Photography</span>
                </div>  
           </div>
       </div>


       <div style="width: 100vw; height: 600px; display:flex; flex-direction:row; left: 0px; top: 910px; position: relative; background:#0d084d">
  <div class="slideshow-container">
    <div class="mySlides" style="display: block;">
      <div style="display:flex; flex-direction:row;align-items:center;">
        <img style="width:30px;height:30px; margin-left:10px" src="~/images/prev.png" onclick="plusSlides(-1)" style="cursor: pointer;" />
        <img style="width:635px; height:435px; border-radius:20px;margin-left:20px;margin-right:20px;margin-top:100px; margin-bottom:100px;" src="https://i.postimg.cc/FKvVmxM1/wepik.png" />
        <div style="display:flex;flex-direction:column; ">
          <i style="font-size: 25px; color:#fff; font-family: Poppins; font-weight: 400; line-height: 30px; word-wrap: break-word;">"Absolutely impressed with this freelance app! The platform's intuitive design and seamless navigation make it incredibly easy to post jobs and connect with talented freelancers. The bidding system ensures competitive pricing, and the communication tools allow for smooth collaboration throughout the project. I especially appreciate the secure payment system, which guarantees fair transactions and builds trust between clients and freelancers."</i>
          <span style="font-size: 30px;margin-top:20px; color:#fff; font-family: Poppins; font-weight: 400; line-height: 30px; word-wrap: break-word;">Miss Theresa</span>
        </div>
        <img style="width:30px;height:30px; margin-right:10px " src="~/images/next.png" onclick="plusSlides(1)" style="cursor: pointer;" />
      </div>
    </div>

    <div class="mySlides" style="display: none;">
      <div style="display:flex; flex-direction:row;align-items:center;">
        <img style="width:30px;height:30px; margin-left:10px" src="~/images/prev.png" onclick="plusSlides(-1)" style="cursor: pointer;" />
        <img style="width:635px; height:435px; border-radius:20px;margin-left:20px;margin-right:20px;margin-top:100px; margin-bottom:100px;" src="https://i.postimg.cc/NjHNNfXt/Tessy.jpg" />
        <div style="display:flex;flex-direction:column; ">
          <i style="font-size: 25px; color:#fff; font-family: Poppins; font-weight: 400; line-height: 30px; word-wrap: break-word;">"An absolute game-changer! This platform has streamlined the way I connect with skilled freelancers. Its user-friendly interface makes posting jobs a breeze, and the diverse range of talent available is truly impressive. The transparent pricing system and secure payment process provide peace of mind, fostering a sense of trust and reliability. I've had nothing but positive experiences with the platform and highly recommend it to anyone seeking top-notch freelancing services."</i>
          <span style="font-size: 30px;margin-top:20px; color:#fff; font-family: Poppins; font-weight: 400; line-height: 30px; word-wrap: break-word;">Miss Adu Theresa Amoah - Software Developer</span>
        </div>
        <img style="width:30px;height:30px; margin-right:10px " src="~/images/next.png" onclick="plusSlides(1)" style="cursor: pointer;" />
      </div>
    </div>

    <div class="mySlides" style="display: none;">
      <div style="display:flex; flex-direction:row;align-items:center;">
        <img style="width:30px;height:30px; margin-left:10px" src="~/images/prev.png" onclick="plusSlides(-1)" style="cursor: pointer;" />
        <img style="width:635px; height:435px; border-radius:20px;margin-left:20px;margin-right:20px;margin-top:100px; margin-bottom:100px;" src="https://i.postimg.cc/FKvVmxM1/wepik.png" />
        <div style="display:flex;flex-direction:column; ">
          <i style="font-size: 25px; color:#fff; font-family: Poppins; font-weight: 400; line-height: 30px; word-wrap: break-word;">"Absolutely impressed with this freelance app! The platform's intuitive design and seamless navigation make it incredibly easy to post jobs and connect with talented freelancers. The bidding system ensures competitive pricing, and the communication tools allow for smooth collaboration throughout the project. I especially appreciate the secure payment system, which guarantees fair transactions and builds trust between clients and freelancers."</i>
          <span style="font-size: 30px;margin-top:20px; color:#fff; font-family: Poppins; font-weight: 400; line-height: 30px; word-wrap: break-word;">Mr </span>
        </div>
        <img style="width:30px;height:30px; margin-right:10px " src="~/images/next.png" onclick="plusSlides(1)" style="cursor: pointer;" />
      </div>
    </div>


  </div>
</div>



    </div>

    


    <script>
    const texts = [{
        text1: { color: "black", text: "Explore Opportunities " },
        text2: { color: "red", text: "Unfold" },
        text3: { color: "black", text: "New" },
        text4: { color: "red", text: "Horizons" },
        text5: { color: "black", text: "Today" }
    }, {
        text1: { color: "black", text: "Find Something " },
        text2: { color: "black", text: "Exciting" },
        text3: { color: "white", text: "That" },
        text4: { color: "white", text: "Inspires" },
        text5: { color: "black", text: "You" }
    },
       {
        text1: { color: "black", text: "Find A " },
        text2: { color: "#338573", text: "Job" },
        text3: { color: "black", text: "That" },
        text4: { color: "#338573", text: "Matches" },
        text5: { color: "black", text: "Your Passion" }
       }];

    let currentText = 0;

    function changeTexts() {
        const text1Element = document.getElementById('text1');
        const text2Element = document.getElementById('text2');
        const text3Element = document.getElementById('text3');
        const text4Element = document.getElementById('text4');
        const text5Element = document.getElementById('text5');

        const text = texts[currentText];
        text1Element.innerText = text.text1.text;
        text1Element.style.color = text.text1.color;
        text2Element.innerText = text.text2.text;
        text2Element.style.color = text.text2.color;
        text3Element.innerText = text.text3.text;
        text3Element.style.color = text.text3.color;
        text4Element.innerText = text.text4.text;
        text4Element.style.color = text.text4.color;
        text5Element.innerText = text.text5.text;
        text5Element.style.color = text.text5.color;

        currentText = (currentText + 1) % texts.length;
    }

    setInterval(changeTexts, 5000);

    const images = ['https://i.postimg.cc/tJMjPNKm/man.jpg', 'https://i.postimg.cc/xT6NCX6k/photo-pensive-surprised-woman-keeps-index-finger-near-lips-looks-aside-thinks-about-message-content.jpg', 'https://i.postimg.cc/J47sJVFW/wepik-export-20231020001105vftf.jpg'
     ];
    let currentImage = 0;

    function changeImages() {
        const imageElement = document.getElementById('changingImage');
        imageElement.src = images[currentImage];

        currentImage = (currentImage + 1) % images.length;
    }

    setInterval(changeImages, 5000);


      // New functions for the video
        const video = document.getElementById('myVideo');
        const playButton = document.getElementById('playButton');

          video.onended = function() {
            playButton.style.display = 'block';
        };

        function togglePlay() {
            if (video.paused) {
                video.play();
                playButton.style.display = 'none';
            } else {
                video.pause();
                playButton.style.display = 'block';
            }
        }


     var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slides[slideIndex - 1].style.display = "block";
  }


</script>

</body>

</html>

