<!DOCTYPE html>
<html>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="text-align: center;">
        <h1>Job Created Successfully!</h1>
        <p>Congratulations! Your job has been created successfully.</p>
         <a asp-controller="Joblisting" asp-action="Index">Go to List of Jobs</a> <!-- Provide the appropriate link to your list of jobs page --> 
    </div>
</div>
</html>

